alias aliases='bat ~/.bash_aliases --pager never && bat ~/.local/.bash_aliases --pager never 2>/dev/null'

alias l='ls -lah --color=auto'
alias ll='ls -lh --color=auto'

alias b='bloop'

alias gco='git checkout'
alias gd='git diff'
alias gf='git fetch'
alias ggpull='git pull'
alias ggpush='git push'
alias gs='git add . && git status'

